/* ------ Open Sans Font ------ */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800&subset=cyrillic');
/* ------ Спецификация ------ */

body {
    font-family: 'Open Sans', sans-serif;
	color: #000;
	padding: 0;
	letter-spacing: 0.02em;
	margin: 0;
	font-size: 14px;
}

div, p, form, input, a, span, button {
	box-sizing: border-box;
}

p {
    font-size: 14px;
    line-height: 1.7em;
    margin-bottom: 1em;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	font-weight: 800;
	line-height: 1.3em;
}

h1 {
	font-size: 43px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 21px;
	letter-spacing: 0.2em;
}

h4 {
	font-size: 16px;
	letter-spacing: 0.2em;
}

a, a:hover, a:active {
    text-decoration: none;
    text-transform: uppercase;
}

a, button, input {
	transition: all 0.5s ease;
}

input, input:hover, input:focus, input:active, button, button:hover, button:focus, button:active {
	outline: none;
}


.btn {
	font-size: 17px;
	font-weight: 800;
	color: #f34646;
	text-transform: uppercase;display: block;
	width: 272px;
	border: 1px solid #f34646;
	padding: 24px;
	border-radius: 5px;
}

.btn:hover {
	background: #f34646;
	color: #fff;
}

.btn:active {
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.2) inset;
}
.red-font {
	color: #f34646;
}
/* -----------First screen---------- */

.header {
	padding: 33px 0 120px;

}
.logo {
	color: #000;
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 0.24em;
	font-weight: 800;
	border-bottom: 1px solid #d9d9d9;
}
.info {
	font-weight: 300;
	text-transform: uppercase;
	display: flex;
}
.info__item {

}
.info__item:not(:last-child) {
	margin-right: 30px;
}
.mail {
	color: #000;
	text-transform: uppercase;
	font-weight: 300;
	border-bottom: 1px solid #d9d9d9;
	font-size: 12px;
	margin-left: auto;
}

.offer-wheel-wrap {
	margin-top: 130px;
}
.offer {
	margin-top: 20px;


}
.offer__title {
	width: 454px;

}
.offer__text {
	font-size: 18px;
	font-weight: 800;
	margin: 22px 0 53px;
	line-height: 1.9em;
}
.offer__btn {

}
.wheel-wrap {
	overflow: hidden;
	padding-top: 15px;
}
.wheel {
	margin: 0 auto;
	display: block;
	animation-name: spin;
	animation-duration: 5600ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}


/* -----------Second screen---------- */

.topics {
	padding: 50px 0 30px;
}
.topics__title {
	margin-bottom: 70px;
}
.topic {

}
.topic__title {
	text-transform: uppercase;
	margin-bottom: 24px;
}
.topic__text {
	letter-spacing: 0.017em;
}

/* -----------Second screen---------- */

.reasons {
	padding: 30px 0 45px;
}
.reasons__title {
	margin-bottom: 88px;
}
.devices {
	margin-top: 40px;
	margin-left: 55px;
}
.list {
	margin-left: 40px;
}
.list__item {
	position: relative;

}
.list__index {
	font-weight: 800;
	font-size: 47px;
	position: absolute;
	left: -57px;
	top: -25px;

}
.list__title {
	margin-bottom: 20px;
}
.list__text {
	margin-bottom: 44px;
}


/* -----------Third screen---------- */

.host {
	padding: 40px 0 45px;
}
.host__title {
	margin-bottom: 66px;
}
.author {
	background: url('../img/andrew.jpg') no-repeat left center;
	padding: 30px 0 30px 200px;

}
.author__title {
	margin-bottom: 15px;
}
.author__link {
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0.24em;
	color: #000;
	text-transform: uppercase;
}
.icons {
	font-size: 14px;

}
.icons__item {
	margin-top: 12px;
}
.icons__item:not(:last-child) {
	margin-right: 17px;
}
.icons__item a {
	color: #000;
}
.icons__item i {

}
.quote {
	font-style: italic;
	position: relative;
	margin-top: 36px;
	margin: 36px 57px 0 24px;
}
.quote::before {
	content: '"';
	display: block;
	position: absolute;
    left: -27px;
    top: -10px;
	font-weight: 800;
	font-size: 22px;

}
.quote::after {
	content: '"';
	display: block;
	position: absolute;
	right: 73px;
    bottom: -19px;
	font-weight: 800;
	font-size: 22px;
	
}

.detail {
	
}
.detail__item {
	display: flex;
	align-items: center;
	margin-bottom: 33px;
}
.detail__icon {
	display: block;
	margin-right: 35px;
}
.fa-angle-right:before {
    font-size: 25px;
}
.details__text {
	margin-bottom: 0;
}









/* -----------Fourth screen---------- */
.reg {
	padding: 40px 0 50px;
}

.reg__title {

}
.reg__text {
	margin: 22px 0 44px;
}
.reg__info {
	text-transform: uppercase;
	font-weight: 800;
	display: flex;
	font-size: 15px;
	align-items: center;
	margin-bottom: 60px;
}
.reg__info:not(:last-child) {
	margin-right: 30px;
}
.fa-home:before {
	margin-right: 6px;
	font-size: 15px;
}
.form {
	display: flex;
}
.form__input {
	width: 221px;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	border: none;
	border-bottom: 1px solid #adadad;
	color: rgba(0, 0, 0, 0.41);
	margin-right: 30px;
	text-decoration: none;

}
.form__input:focus {
	color: #000;
	border-bottom: 1px solid #000;
	text-decoration: none;
}
.form__input:hover {
    border-bottom: 1px solid #000;
	color: #000;
	text-decoration: none;
}

.form__input:hover::placeholder {
    border-bottom: 1px solid #000;
	color: #000;
	text-decoration: none;
	padding-bottom: 12px;
}


.form__submit {
	margin-left: 25px;
	background-color: #fff;
	border: 0;
	padding: 10px;
}

/* -----------Fifth screen---------- */

.footer {
	padding: 50px 0 108px;
}
.footer__credits {
	font-size: 11px;
	font-weight: 300;
}

.footer__credits_border {
	color: #000;
	border-bottom: 1px dotted #000;
	text-transform: none;
}



/* ------ Media Queries ------ */

/* 992-1200px col-LG*/
@media screen and (max-width: 1200px) {
	.quote::after {
		right: 210px;
	}
}
	/* 768-992px col-MD*/
@media screen and (max-width: 992px) {
	.offer__btn {
		margin: 0 auto 80px;
	}
	.wheel {
		display: flex;
		justify-content: center;
	}
	.offer {
		text-align: center;
	}
	.offer__title {
		width: 100%;
	}
	.topic__title {
		margin-bottom: 17px;
	}
	.topic__text {
		margin-bottom: 40px;
	}
	.devices {
		margin-bottom: 60px;
	}
	.author {
		padding: 45px 0 45px 200px;
	}
	.quote {
		margin-bottom: 30px;
	}
	.quote::after {
		right: 0;
	}
	.form__input {
		width: 30%;
		margin-right: 10px;
	}
	.form {
	flex-wrap: wrap;
	}
	.form__submit {
		margin: 30px auto 0;

	}
}
/* 576-768px col-SM*/
@media screen and (max-width: 768px) {

}
    
/* 320-576px col- */
@media screen and (max-width: 576px) {
	.logo {	
	}
	.info {
		display: none;
	}
	.mail {
		display: none;
	}
	.wheel {
		width: 100%;
		max-width: 387px;
		margin: 0 auto;
	}
	.devices {
		width: 100%;
		max-width: 370px;
		margin-left: 0;
	}
	.list {
		padding: 15px;
	}
	.list__item {
		padding-right: 0;
	}
	.author {
		padding-left: 0;
		padding-top: 170px;
		background: url('../img/andrew.jpg') no-repeat center top;
		text-align: center;

	}
	.icons {
		justify-content: center;
	}
	.quote::after {
		right: 0;
	}
	.form__input {
		width: 100%;
		margin-top: 15px;
		flex-direction: column;
	}
	.footer__credits {
		margin-bottom: 20px;
	}

}
